body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

textarea {
    height: 50vh;
    width: 80%;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h1 {
    padding: 0;
}

.sidebar * {
    margin-left: 20px;
}

.main {
    padding: 20px;
}

.main > h1 {
    padding: 0;
    margin-bottom: 20px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    padding: 0 12px;
}

.link {
    margin-bottom: 10px;
}

#edit {
    margin-bottom: 50px;
    width: 100%;
}

.text-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input {
    border-radius: 5px;
    border: 5px solid grey;
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form {
    display:flex;
    flex-direction: column;
    align-items: center;
}