{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add a new page
{% endblock %}

{% block body %}
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="Enter a title for the page.">
        </div>
        <div>
            <textarea name="content" placeholder="Enter content in markdown format."></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}
